<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('include/header.ejs')%>
  <style>
    .container {
      max-width: 500px;
      margin: 0 auto;
    }

    .form-container {
      padding: 2rem;
    }

    .form-input {
      width: 100%;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      color: white;
      border: none;
    }

    .form-input::placeholder {
      color: rgb(128, 128, 128);
    }

    .form-button {
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: #4299e1;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .form-button:hover {
      background-color: #3182ce;
    }
  </style>
</head>

<body class="bg-gray-900">
  <br>
  <div class="container py-8 bg-gray-800 rounded-lg">
    <h1 class="text-2xl font-bold mb-4 text-white text-center">Uptime Ekleme Sistemi</h1>
    <div class="form-container">
      <form action="/ekle" method="post">
        <input name="add" type="text" placeholder="Proje URL'si" class="form-input bg-gray-700" required>
        <input name="userId" type="text" value="<%-kullanici%>" class="form-input bg-gray-700" style="display: none;" readonly>
        <button class="form-button">Ekle</button>
      </form>
    </div>
  </div>
</body>

</html>
